SBProject/Resources/dbDcvRequest.wsdl

<wsdl:definitions
     name="dbDcvRequest"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/SBApp1/SBProject/dbDcvRequest"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/SBApp1/SBProject/dbDcvRequest"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbDcvRequest"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="dbDcvRequest_plt" >
    <plt:role name="dbDcvRequest_role" >
      <plt:portType name="tns:dbDcvRequest_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbDcvRequest" schemaLocation="dbDcvRequest_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="dbDcvRequestSelect_inputParameters">
        <wsdl:part name="dbDcvRequestSelect_inputParameters" element="top:dbDcvRequestSelect_pDcvNoInputParameters"/>
    </wsdl:message>
    <wsdl:message name="DcvRequestCollection_msg">
        <wsdl:part name="DcvRequestCollection" element="top:DcvRequestCollection"/>
    </wsdl:message>
    <wsdl:portType name="dbDcvRequest_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:DcvRequestCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:DcvRequestCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="dbDcvRequestSelect">
            <wsdl:input message="tns:dbDcvRequestSelect_inputParameters"/>
            <wsdl:output message="tns:DcvRequestCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
